@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

/* FULL WIDTH */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* applied style to body */

body {
  background-color: #ebf2f7;
  color: #000000;
  font-family: "Quattrocento Sans", sans-serif;
}

/* applied style to .header */

header {
  padding: 20px 35px;
  background-color: #052229;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

/* applied style for header h1*/

header h1 {
  background-color: rgb(60, 165, 189);
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.25rem;
  color: #deebf4;
  margin: 0px;
  padding: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* applied style for nav */

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  color: #deebf4;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* applied style for nav hover */

header nav ul li a:hover {
  background: rgb(60, 165, 189);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

/* applied style for .hero */

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  background-position: 80%;
  margin-bottom: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.hero img {
  width: 200px;
  border-radius: 15px;
  border: solid 3px rgb(60, 165, 189);
}

.hero h2 {
  color: #deebf4;
  background-color: rgb(60, 165, 189);
  border-radius: 10px;
  padding: 15px;
  align-self: flex-end;
}

/* applied styles for main content */

.main-content {
  display: flex;
  flex-direction: row;
}

.main-content h3 {
  font-size: 3.5rem;
  color: rgb(60, 165, 189);
  text-align: center;
}

.title-container {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  border-right: solid 3px;
  margin-bottom: 15px;
}

.content-container {
  flex: 9;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  font-size: 1.25rem;
  color: #2c5768;
}

/* applied styles for .project */

.project {
  flex-grow: 1;
  width: calc(50% - 10px);
  height: 100px;
  border: solid 3px rgb(60, 165, 189);
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
}

.project:first-of-type {
  margin-top: 0;
  width: 100%;
  height: 200px;
}

.project:nth-child(odd) {
  margin-right: 0;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/* applied style for img hover */

.project img:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.project-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  background-color: rgb(60, 165, 189);
  font-size: 1.4rem;
  color: white;
  padding: 5px 5px 5px 15px;
  display: block;
}

/* applied style for .contact */

.contact {
  margin: 0px 60px 0 60px;
  text-decoration: none;
  color: #2c5768;
}

/* TABLET */
@media only screen and (max-width: 1024px) {
  header {
    display: flex;
    padding: 8px 32px;
  }

  header h1 {
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  header nav {
    width: 100%;
  }

  header nav ul li a {
    font-size: 1.75rem;
  }

  .hero h2 {
    top: 350px;
  }

  .main-content {
    flex-direction: column;
  }

  .title-container {
    border-right: none;
    border-bottom: solid 3px;
    margin: 0 16px;
    justify-content: center;
  }

  .contact-me {
    flex-direction: column;
  }

  .contact {
    text-align: center;
  }
}

/* MOBILE */
@media only screen and (max-width: 425px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero h2 {
    margin-top: 10px;
    align-self: center;
  }

  .project-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .project-title {
    font-size: 0.5rem;
  }
}
