* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: url("https://static.fullstack-bootcamp.com/module-1/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  background-position: 80%;
  padding: 80px;
}

.hero h2 {
  position: absolute;
  right: 0px;
  margin-top: 25px;
}
