@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf2f7;
  color: #000000;
  font-family: "Quattrocento Sans", sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #052229;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #deebf4;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #deebf4;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: rgb(21, 83, 97);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  background-attachment: fixed;
  background-position: 80%;
  padding: 100px;
  margin-bottom: 10px;
}

.hero h2 {
  position: absolute;
  right: 100px;
  margin-top: 25px;
  color: #deebf4;
}

.main-content {
  display: flex;
}

.main-content h3 {
  font-size: 50px;
  color: #35586e;
}

.title-container {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  border-right: solid 3px;
  margin-bottom: 15px;
}

.content-container {
  flex: 9;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  font-size: 20px;
}

.project {
  width: 50%;
}

.project:first-of-type {
  width: 100%;
}

.contact {
  margin: 0px 60px 0 60px;
}
